<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379448828965-h7g0jgredg8og9if26cnc7vnvouhdnto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379448828965-h7g0jgredg8og9if26cnc7vnvouhdnto</string>
	<key>API_KEY</key>
	<string>AIzaSyDuOmPpCisKDk-llq2Ka4K7NIkBzcXIznk</string>
	<key>GCM_SENDER_ID</key>
	<string>379448828965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nadoGiza</string>
	<key>PROJECT_ID</key>
	<string>nado-giza</string>
	<key>STORAGE_BUCKET</key>
	<string>nado-giza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379448828965:ios:5fc511c03386cb8627cbcc</string>
</dict>
</plist>